umarubot/config.py
umarubot/*.session
lunaBot/*.session-journal
umarubot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
umarubot/modules/helper_funcs/temp.txt
umarubot/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
umarubot.session-journal
updates.txt
*.exe
